body {
    color: rgb(150,250,100);
    background-color: rgb(25,25,25);
    margin-bottom: 45px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: antialiased ;
}

section {
    background-color: rgb(15,15,15);
    max-width: 50em;
    margin-left:auto;
    margin-right:auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:10px;
	line-height: 1.15em;
}

tr {
    color: rgb(239,239,239);
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:6px;
	margin: 1px
}

td, th {
	padding-left: 2px;
	padding-right: 2px;
}

tr:nth-child(even) {
	background-color: rgb(40,40,40);
}

tr:nth-child(odd) {
	background-color: rgb(35,35,35);
}

.o {
    color: rgb(239,239,239);
	background-color: rgb(40,40,40);
}

.e {
    color: rgb(239,239,239);
	background-color: rgb(35,35,35);
}

p {
    margin: 2px;
    padding: 2px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 2px;
	padding-right: 2px;
}

li {
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 1em;
}

ul {
    margin: 2px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 1em;
	background-color: rgb(37,37,37);
}

/* unvisited link */
a:link {
  color: rgb(220,220,17);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(220,220,17);
}
